/* Checked state for the switch track and circle */
.custom-switch .form-check-input:checked {
    background-color: #212529;
    /* Background color when checked */
    border-color: #212529;
    /* Border color when checked */
}

.custom-switch .form-check-input:checked::before {
    background-color: white;
    /* Circle color when checked */
}